#include <physical_layouts.dtsi>

/ {
    physical_layout0: keymap_layout_0 {
        compatible = "zmk,physical-layout";

        display-name = "4x5";

        transform = <&transform0>;
        kscan = <&kscan0>;

        keys
            = <&key_physical_attrs 100 100   0   0 0 0 0>
            , <&key_physical_attrs 100 100 100   0 0 0 0>
            , <&key_physical_attrs 100 100 200   0 0 0 0>
            , <&key_physical_attrs 100 100 300   0 0 0 0>

            , <&key_physical_attrs 100 100   0 100 0 0 0>
            , <&key_physical_attrs 100 100 100 100 0 0 0>
            , <&key_physical_attrs 100 100 200 100 0 0 0>
            , <&key_physical_attrs 100 100 300 100 0 0 0>

            , <&key_physical_attrs 100 100   0 200 0 0 0>
            , <&key_physical_attrs 100 100 100 200 0 0 0>
            , <&key_physical_attrs 100 100 200 200 0 0 0>
            , <&key_physical_attrs 100 100 300 200 0 0 0>

            , <&key_physical_attrs 100 100   0 300 0 0 0>
            , <&key_physical_attrs 100 100 100 300 0 0 0>
            , <&key_physical_attrs 100 100 200 300 0 0 0>
            , <&key_physical_attrs 100 100 300 300 0 0 0>

            , <&key_physical_attrs 100 100   0 400 0 0 0>
            , <&key_physical_attrs 100 100 100 400 0 0 0>
            , <&key_physical_attrs 100 100 200 400 0 0 0>
            , <&key_physical_attrs 100 100 300 400 0 0 0>
            ;
    };
};
